@mixin circle() {
  border-radius: 50%;
  position: absolute;
  animation: movecircle 3s ease-in-out infinite;
  background-color: var(--primary-color);
}
@mixin btn() {
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 50px;
  text-decoration: none;
  background: none;
  border: none;
  border: 2px solid var(--btn-bg);
  margin-top: 90px;
  font-weight: 700;
  cursor: pointer;

}
@mixin cv() {
  padding: 1rem 1.5rem;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  align-items: center;
  color: var(--black);
  
}
@mixin line() {
  font-size: 2.3rem;

  &::before,
  &::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--white);
    display: inline-block;
    margin-bottom: 10px;
    margin: 10px 10px;
  }
}
@mixin input() {
  padding: 0.875rem 1.25rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  resize: vertical;
  border: none;
  background-color: var(--primary-color);
  color:var(--white);

  &::placeholder {
    color: var(--white);
    font-size: 17px;
  }
}
