:root {
  //font-size
  --font-small: 0.875rem;
  --font-base: 1rem;
  --font-medium: 1.25rem;
  --font-large: 1.5rem;
  --font-xl: 2rem;
  // Spacing (Padding + Margin)
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 3rem;
  //color
  --text-color: #ececec;
  --bg-color: #1f1f1f;
  --primary-color: #2e2e2e;
  --btn-bg: #ececec;
  --black:black;
  --white:white;
}
